{% extends 'base.html'%}

<meta http-equiv="refresh" content="1"/>

{%block content%}
<h1>Hi there, as your sidekick, I am here to assist, accompany, and converse with you on your daily life. Please tell me,
    {{question}}
</h1>


{% if response != None %}

<h4>User:</h4>
<h4 class='ans'>{{transcription}}</h4>
<h4>Response:</h4>
<h4 class='ans'>{{response}}</h4>

<h4>Audio Response</h4>
<center>
<audio controls autoplay>
    <source src= {{responseURL}} type='audio/mpeg'> 
</audio>
</center>

{% endif %}


<center>
<button id="record-btn" class="bttn">Record</button>
</center>


<script src="{{url_for('static', filename='recorder.js')}}"></script>

{%endblock%}